html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.title {
  display: flex;
  justify-content: center;
}

.user-type-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.function-box {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.radio-form {
  display: flex;
  justify-content: center;
}

.function-title {
  display: flex;
  justify-content: center;
}

.button {
  background-color: beige;
  text-align: center;
}


