html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.title {
  display: flex;
  justify-content: center;
}

form {
  margin: 10px;
}

.user-type-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.function-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.response-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.radio-form {
  display: flex;
  justify-content: center;
}

.function-title {
  display: flex;
  justify-content: center;
}

button {
  background-color: beige;
  width: 100px;
  margin: 10px;
}

.response-box {
  display: flex;
  justify-content: center;
}

.primary-key {
  display: flex;
}

.key-input {
  height: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

.title-box {
  margin: 10px;
}

.user-type-box {
  margin: 80px;
}
